.show-goat {
  padding: 0rem 8rem;
  h1{
    padding-top: 24px;
  }

  .goat-info{
    margin-top: 24px;
    padding-top: 24px;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-top: thin solid lightgrey;
    border-bottom: thin solid lightgrey;
  }
}

.form-box {
  background-color: whitesmoke;
  padding: 16px;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.show-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 16px;
  .form-box {
    position: sticky;
    top: 0;
  }
  .goat-img img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  .btn {
    width: 100%;
  }
  .btn:hover {
    color: black;
    border: 1px solid black;
  }
  h3 {
    text-align: right;
  }
  h5 {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
  }
  h2 {
    text-align: center;
  }
}
@media (min-width: 100px) and (max-width: 575px) {
  .show-container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .show-container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .show-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .show-container {
    grid-template-columns: 2fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .show-container {
    grid-template-columns: 2fr 1fr;
  }
}
