.show-goat {
  padding: 0rem 8rem;
  h1{
    padding-top: 24px;
  }

  .goat-img {
    display: flex;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('goat.jpg');
  }

  .goat-info{
    margin-top: 24px;
    padding-top: 24px;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-top: thin solid lightgrey;
    border-bottom: thin solid lightgrey;
  }
}
