.card-goat {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.pokemons-container{
  width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 16px;

  .card-goat-speed{
    position: absolute;
    right: 16px;
    top: 16px;
    width: 40px;
  }

  .card-goat-cuteness{
    position: absolute;
    left: 16px;
    top: 16px;
    width: 40px;
  }

  .img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
}

.card-goat h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-goat p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-goat {
  .card-goat-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
}

.card-goat-infos {
  .card-goat-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }
  .avatar-bordered {
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: white 1px solid;
  }
}
