.form-container {
  width: 800px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 0 16px;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.form-container h2 {
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #747474;
}
