.navbar-lewagon {
  justify-content: space-between;
  background: $dark-gray;
}

.dropdown-item {
  font-size: 12px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 12px;
  font-weight: normal;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.7)
}

.navbar-lewagon .btn {
  font-size: 12px;
}

.navbar h1 {
  color: white;
}
