.display-flex {
  display: flex;
  .booking_dates {
      height: 100vh;
      position: sticky;
      top: 0;
      width: 25%;
      background-color: whitesmoke;
      margin-right: 16px;
      padding: 16px;
      .btn-fluo {
        width: 100%;
      }
      h1 {
        background-color: whitesmoke;
        margin: 0px;
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #aaa;
      }
    }
}
