<h1>Goats Index</h1>

<ul class="list-group">
  <% @goats.each do |goat| %>
    <%= link_to goat_path(goat) do %>
      <li class="list-group-item">
        <%= render "component/card" %>
      </li>
    <% end %>
  <% end %>
</ul>
